---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
---

<Layout title="Privacy Policy - NoxMarket">
  <Header />
  
  <main class="py-12">
    <div class="container-custom">
      <div class="max-w-3xl mx-auto">
        <h1 class="text-4xl font-bold mb-6">Privacy Policy</h1>
        <script
  id="usercentrics-ppg"
  privacy-policy-id="3c4faa6e-f4bb-4c9e-bea3-f5f00834f697"
  data-language="en"
  src="https://policygenerator.usercentrics.eu/api/privacy-policy"
></script>
  </main>
  
  <Footer />
</Layout>
